<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <configSections>
        <section name="igniteConfiguration" type="Apache.Ignite.Core.IgniteConfigurationSection, Apache.Ignite.Core" />
    </configSections>

    <igniteConfiguration xmlns="http://ignite.apache.org/schema/dotnet/IgniteConfigurationSection"
                         springConfigUrl="ignite-server.xml" >
        <jvmOptions>
            <string>-Djava.net.preferIPv4Stack=true</string>
            <string>-DIGNITE_QUIET=true</string>
            <!--<string>-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5006</string>-->
        </jvmOptions>
    </igniteConfiguration>
</configuration>