<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <configSections>
        <section name="igniteConfiguration" type="Apache.Ignite.Core.IgniteConfigurationSection, Apache.Ignite.Core" />
    </configSections>

    <runtime>
        <gcServer enabled="true"/>
    </runtime>

    <igniteConfiguration xmlns="http://ignite.apache.org/schema/dotnet/IgniteConfigurationSection"
                         springConfigUrl="ignite-server.xml"
                         jvmClasspath="apache-ignite-futures-1.0-SNAPSHOT.jar" >
        <jvmOptions>
            <string>-Djava.net.preferIPv4Stack=true</string>
            <string>-DIGNITE_QUIET=true</string>
            <string>-DIGNITE_JVM_PAUSE_DETECTOR_DISABLED=true</string>
            <!--<string>-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005</string>-->
        </jvmOptions>

        <binaryConfiguration>
            <!-- This mapper allows using normal .NET and Java naming conventions for Ignite service parameter and result types -->
            <nameMapper type='Apache.Ignite.Futures.Tests.TestObjects.DotnetToJavaNameMapper, Apache.Ignite.Futures.Tests'/>
        </binaryConfiguration>
    </igniteConfiguration>
</configuration>